.btn1 {
  background-size: 150%;
}

.btn1:hover {
  animation: slide 1.5s linear infinite;
}

.btn2 {
  background-size: 200%;
}

.btn2:hover {
  animation: slide 1.5s linear infinite;
}

@keyframes slide {
  0% {
    background-position: left;
    color: var(--primaryColor);
  }
  25% {
    background-position: bottom;
    
  }
  50% {
    background-position: right;
    color: var(--secondaryColor);
  }
  75% {
    background-position: top;
  
  }
  100% {
    background-position: left;
    color: var(--primaryColor);
  }
}
