@tailwind base;
@tailwind components;
@tailwind utilities;

/*:root {
 
}*/

/*@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}*/

body {
    overflow: hidden;
    box-sizing: content
}

html {
  overflow-x: hidden;
}

.theme-dark {
  --grad-from: theme("colors.cyanBlue");
  --grad-via: theme("colors.electroPurple");
  --grad-to: theme("colors.electroPink");
  --primaryBg: theme("colors.black-1200");
  --inversePrimaryBg: theme("colors.creamyWhite");
  --secondaryBg: theme("colors.black-1000");
  --primaryColor: theme("colors.white");
  --secondaryColor: theme("colors.grey-medium");
  --borderDeco: theme("colors.black-1200");
  --textDeco: theme("colors.white");
  --bgDeco: theme("colors.dark-grey");
  --textUnderscore: theme("colors.electroPurple");
}

.theme-light {
  --grad-from: theme("colors.yellow");
  --grad-via: theme("colors.orange-400");
  --grad-to: theme("colors.cherryRed-300");
  --primaryBg: theme("colors.creamyWhite");
  --inversePrimaryBg: theme("colors.creamyWhite");
  --secondaryBg: theme("colors.lightPink");
  --primaryColor: theme("colors.redBrown-dark");
  --secondaryColor: theme("colors.redBrown-medium");
  --borderDeco: theme("colors.cherryRed-300");
  --textDeco: theme("colors.cherryRed-300");
  --bgDeco: theme("colors.creamyWhite");
  --textUnderscore: theme("colors.cherryRed-300");
}



