@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --color-light-pink: 252, 200, 209;
    --color-peach: 255, 171, 171;
    --color-cherry-red: 209,77,114;
    --color-cherry-red-medium: 218,112,142;
    --color-yellow: 255,167,50;
    --color-creamy-white:254,242,244;
    --color-creamy-orange: 255,154,139;
    --color-red-brown-dark: 74,2,7;
    --color-red-brown-medium: 120,27,34;
    --bg-first-layer-light: url("/images/contactBg/firstLayer-light.png");
    --bg-second-layer-light: url("/images/contactBg/foreground-light.png");
    --bg-third-layer-light: url("/images/contactBg/thirdLayer-light.png");
    --bg-gradient-light: "linear-gradient(180deg, rgba(254,242,244,1) 5%, rgba(255,207,139,1) 38%, rgba(255,171,171,1) 99%)";
    --bg-gradient-from-light: 254,242,244;
    --bg-gradient-via-light: 255,171,171;
    --bg-gradient-to-light: 209,77,114;
    /* dark theme palette */
    --color-cyan-blue: 43,134,197;
    --color-electro-purple: 120,75,160;
    --color-electro-pink: 255,60,172;
    --color-black-1200: 18,18,18;
    --color-black-1000: 24,24,24;
    --color-white: 255,255,255;
    --color-grey-medium: 173,183,190;
    --color-grey-dark: 34,34,34; 
    --bg-first-layer-dark: url("/images/contactBg/firstLayer-dark.png");
    --bg-second-layer-dark: url("/images/contactBg/foreground-dark.png");
    --bg-third-layer-dark: url("/images/contactBg/thirdLayer-dark2.png");
    --bg-gradient-dark: "linear-gradient(180deg, rgba(18,18,18,1) 0%, rgba(1,31,54,1) 26%, rgba(79,45,128,1) 72%)";
    --bg-gradient-from-dark: 18,18,18;
    --bg-gradient-via-dark: 1,31,54;
    --bg-gradient-to-dark: 79,45,128;
  }
}

/*@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}*/

body {
  overflow: hidden;
  box-sizing: content;
}

html {
  overflow-x: hidden;
}

.theme-dark {
  --grad-from: var(--color-cyan-blue);
  --grad-via: var(--color-electro-purple);
  --grad-to: var(--color-electro-pink);
  --primaryBg: var(--color-black-1200);
  --inversePrimaryBg: var(--color-creamy-white);
  --secondaryBg: var(--color-black-1000);
  --primaryColor: var(--color-white);
  --secondaryColor: var(--color-grey-medium);
  --borderDeco: var(--color-black-1200);
  --textDeco: var(--color-white);
  --secondaryTextDeco: var(--color-grey-medium);
  --bgDeco: var(--color-grey-dark);
  --textUnderscore: var(--color-electro-purple);

  --bg-first-layer: var(--bg-first-layer-dark);
  --bg-second-layer: var(--bg-second-layer-dark);
  --bg-third-layer: var(--bg-third-layer-dark);
  --bg-gradient-from: var(--bg-gradient-from-dark);
  --bg-gradient-via: var(--bg-gradient-via-dark);
  --bg-gradient-to: var(--bg-gradient-to-dark);
}

.theme-light {
  --grad-from: var(--color-yellow);
  --grad-via: var(--color-creamy-orange);
  --grad-to: var(--color-cherry-red);
  --primaryBg: var(--color-creamy-white);
  --inversePrimaryBg: var(--color-creamy-white);
  --secondaryBg: var(--color-light-pink);
  --primaryColor: var(--color-red-brown-dark);
  --secondaryColor: var(--color-red-brown-medium);
  --borderDeco: var(--color-cherry-red);
  --textDeco: var(--color-cherry-red);
  --secondaryTextDeco: var(--color-cherry-red-medium);
  --bgDeco: var(--color-creamy-white);
  --textUnderscore: var(--color-cherry-red);

  --bg-first-layer: var(--bg-first-layer-light);
  --bg-second-layer: var(--bg-second-layer-light);
  --bg-third-layer: var(--bg-third-layer-light);
  --bg-gradient: var(--bg-gradient-light);
  --bg-gradient-from: var(--bg-gradient-from-light);
  --bg-gradient-via: var(--bg-gradient-via-light);
  --bg-gradient-to: var(--bg-gradient-to-light);
}

