.btn1 {
  background-size: 150%;
}

.btn1:hover {
  animation: btnSlide 1.5s linear infinite;
}

.btn2 {
  background-size: 200%;
}

.btn2:hover {
  animation: btnSlide 1.5s linear infinite;
}

.left-banner {
  transform: scale(0);
  opacity: 0.5;
  transition: all 1s ease;
}

.right-banner {
  transform: scale(0);
  opacity: 0.5;
  transition: all 1s ease;
}

/*Animation*/
.show-leftBanner {
  transform: scale(1);
  opacity: 1;
  transition-delay: 0.5s;
}

.show-rightBanner {
  transform: scale(1);
  opacity: 1;
  transition-delay: 0.5s;
}


@keyframes btnSlide {
  0% {
    background-position: left;
    @apply text-primaryColor;
  }
  25% {
    background-position: bottom;
    
  }
  50% {
    background-position: right;
    @apply text-secondaryColor;
  }
  75% {
    background-position: top;
  
  }
  100% {
    background-position: left;
    @apply text-primaryColor;
  }
}

