.project-section {
  box-sizing: border-box;
  margin-top: 4rem;
  padding: 0;
  height: 110vh;
}

@media (min-width: 1550px) {
  .project-section {
    height: 80vh;
  }
}

.h2 {
  height: 20%;
}

.project-wrapper {
  width: 100%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-container {
  display: flex;
  height: 500px;
  padding: 0 2rem;
  flex-wrap: nowrap;
  justify-content: flex-start;
  overflow: hidden;
  position: relative;
}

.card {
  position: relative;
  width: 80px;
  height: 415px;
  border-radius: 0.75rem;
  cursor: pointer;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  border-radius: 2rem;
  margin: auto 10px;
  display: flex;
  align-items: flex-end;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.8);
  left: -100%;
  opacity: 0;
}

.card > .overlay {
  position: absolute;
  bottom: 80px;
  width: 80px;
  background-color: theme("colors.secondaryBg");
  height: 335px;
  font-size: 3rem;
  font-weight: 800;
}

.card > .overlay > .initial {
  transition: all 0.3s;
}

.card > .overlay > .initial:hover {
  font-size: 3.2rem;
}

.card > .content {
  color: theme("colors.secondaryTextDeco");
  display: flex;
  flex-wrap: nowrap;
  background-color: white;
}

.card > .content > .card-index {
  background: theme("colors.secondaryTextDeco");
  color: #fff;
  border-radius: 50%;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.desc-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 570px;
  height: 80px;
  overflow: hidden;
  opacity: 0;
  transform: translateY(30px);
  transition-delay: 0.3s;
  transition: all 0.3s ease;
}
.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.description p {
  color: theme("colors.secondaryColor");
  padding-top: 5px;
  @apply font-semibold;
}

.description h4 {
  font-size: 1.3rem;
  @apply font-bold;
}

input {
  display: none;
}

@media (min-width: 800px) {
  input:checked + label {
    width: 650px;
    background-size: contain;
  }

  input:checked + label .desc-container {
    opacity: 1 !important;
    transform: translateY(0) !important;
  }

  input:checked + label .overlay {
    height: 0;
    font-size: 0;
    opacity: 0;
  }
}

@media (max-width: 800px) {
  .project-section {
    height: 100%;
  }

  h2 {
    margin-bottom: 2rem;
  }

  .card-container {
    display: flex;
    height: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    overflow: visible;
  }

  .card {
    width: 120%;
    height: 280px;
    background-size: contain;
    cursor: pointer;
    overflow: hidden;
    border-radius: 0.75rem;
    margin: 0.75rem;
    display: flex;
    align-items: flex-end;
    transition: 0.6s cubic-bezier(0.28, -0.03, 0, 0.99);
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.8);
    left: 0;
    opacity: 1;
  }

  .content {
    width: 100%;
    padding: 10px 0;
  }

  .card > .content > .card-index {
    background: theme("colors.bgDeco");
    color: #fff;
    border-radius: 50%;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
  }

  .card > .content > .desc-container {
    display: flex;
    flex-direction: flex-row;
    justify-items: space-between;
    width: 100%;
    transform: translateY(0px);
    opacity: 1;
  }

  .card > .overlay {
    display: none;
  }

  .description h4 {
    font-size: 1.1 rem;
    @apply font-bold;
  }

  .description p {
    font-size: 0.9rem;
  }
  

  .card > .content > .desc-container > .description {
  }

  input:checked + label {
  }

  input:checked + label .desc-container {
  }

  input:checked + label .overlay {
  }
}

/*animation*/
